<fieldset>
  <form name='regForm' novalidate>

    <input class="signup" type="text" name="firstname" placeholder="First name" ng-model="$ctrl.user.firstname" required minlength="4" ng-maxlength="10"> 
    <span ng-if="(regForm.firstname.$error.minlength || regForm.firstname.$error.required) && regForm.firstname.$touched">
      First name must be at least 4 characters long
    </span>
    <span ng-if="regForm.firstname.$error.maxlength && regForm.firstname.$touched">
      First name must not be longer than 10 characters
    </span>
    <br>

    <input class="signup" type="text" name="lastname" placeholder="Last name" ng-model="$ctrl.user.lastname" required minlength="4" ng-maxlength="10"> 
    <span ng-if="(regForm.lastname.$error.minlength || regForm.lastname.$error.required) && regForm.lastname.$touched">
      Last name must be at least 4 characters long
    </span>
    <span ng-if="regForm.firstname.$error.maxlength && regForm.lastname.$touched">
      Last name must not be longer than 10 characters
    </span>
    <br>

    <input class="signup" type="email" name="email" placeholder="Email" ng-model="$ctrl.user.email" required>
    <span ng-if="regForm.email.$invalid && regForm.email.$touched">
      Must be a valid email address: handle@domain format
    </span>
    <br>

    <input class="signup" type="text" name="phone" placeholder="Phone ###-###-####" ng-model="$ctrl.user.phone" pattern="(\d{3})-(\d{3})-(\d{4})">
    <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
      Phone must be in the format ###-###-####.
    </span>
    <br>

    <input class="signup" type="text" name="favdish" placeholder="Favoret Dish" ng-model="$ctrl.user.favdish"> 
    <br>

    <button ng-class="{'valid': regForm.$valid == true}" ng-disabled="regForm.$invalid" ng-click="$ctrl.submit()">Submit</button>

    <!-- <div style="margin-top: 10px;">
      Form valid? {{ regForm.$valid }} {{ $ctrl.user.valid }}
    </div> -->
  </form>
</fieldset>

<div id="info" ng-if="$ctrl.user.valid">
  Thank you for your sign up. Complete.
</div>